extends layout.pug

block js
  script(src="/javascripts/two.min.js")

block content
  div#myCanvas
    - var hasCard = cards.length > 0;
    if hasCard
      script
        include ../public/javascripts/chatree.js
        | chatree = new Chatree();
      each card in cards
        script
          |  chatree.setCard("#{card.content}", "#{card.sendTo}", "#{card.cardId}", "#{card.formattedUpdatedAt}", "#{card.createBy}");
          |  chatree.update();

  //- div#myCanvas
    //- - var hasCard = cards.length > 0
    //- if hasCard
      //- each card in cards
        div.uk-card.uk-card-default
          div.uk-card-header
            div(uk-grid).uk-grid-small.uk-flex-middle
              div.uk-width-auto
                img(src=`https://avatars.githubusercontent.com/u/${card.createdBy}` alt="" width="40px").uk-border-circle
              div.uk-width-expand
                p.uk-text-meta
                  time(datetime=card.updatedAt) #{card.formattedUpdatedAt}
              div.uk-card-badge.uk-label ID: #{card.cardId}
          div.uk-card-body
            p #{card.content}

  div.uk-position-bottom-center.uk-position-z-index.uk-margin-top
    form(action="", method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      //- input(type="text" name="sendTo" readonly)

      div(uk-grid)
        div.uk-width-2-5
          input(type="number" name="sendTo" placeholder="Number to Reply").uk-input.uk-border-pill

        div.uk-width-2-5
          input(type="text" name="content" placeholder="Comment (Up to 255 chars)").uk-input.uk-border-pill

        div.uk-width-1-5
          button(type="submit").uk-button.uk-button-primary.uk-border-pill Send
